<h2>New Question for <%= @quiz.name %></h2>
<div class="question_advice">
	<p>Please remember:</p>
	<p>Submit a question about a topic, that ...</p>
	<ul>
		<li>interested you most today</li>
		<li>you want to remember</li>
	</ul>
</div>

<div class="content_text">
	<%= render "form" %>
</div>